/* 
    Created on : Sep 20, 2016, 3:58:31 PM
    Author: Tran Trong Thang
    Email: trantrongthang1207@gmail.com
    Skype: trantrongthang1207
*/
/*dung cho kich thuoc man hinh lon hon 1200px va nho hon 1450px*/
@media only screen and (min-width: 1200px) and (max-width: 1450px){
    
}