<?xml version="1.0"?>
<config>
  <modules>
    <Fgc_ModifySendMailOrder>
      <version>0.1.0</version>
    </Fgc_ModifySendMailOrder>
  </modules>
  <global>
    <helpers>
      <modifysendmailorder>
        <class>Fgc_ModifySendMailOrder_Helper</class>
      </modifysendmailorder>
    </helpers>
	<models>
	  <modifysendmailorder>
		<class>Fgc_ModifySendMailOrder_Model</class>
		<resourceModel>modifysendmailorder_mysql4</resourceModel>
	  </modifysendmailorder>
			<checkout>
				<rewrite>
					<type_onepage>Fgc_ModifySendMailOrder_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
	</models>
  </global>
</config> 