<?xml version="1.0"?>
<config>
    <modules>
        <Fgc_Cnewsletter>
            <version>0.1.0</version>
        </Fgc_Cnewsletter>
    </modules>
    <frontend>
        <routers>
            <cnewsletter>
                <use>standard</use>
                <args>
                    <module>Fgc_Cnewsletter</module>
                    <frontName>cnewsletter</frontName>
                </args>
            </cnewsletter>
        </routers>
    </frontend>
    <global>
        <helpers>
            <cnewsletter>
                <class>Fgc_Cnewsletter_Helper</class>
            </cnewsletter>
        </helpers>
        <blocks>
            <cnewsletter>
                <class>Fgc_Cnewsletter_Block</class>
            </cnewsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Fgc_Cnewsletter_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <cnewsletter>
                <class>Fgc_Cnewsletter_Model</class>
                <resourceModel>cnewsletter_mysql4</resourceModel>
            </cnewsletter>
            <newsletter_resource>
                <rewrite>
                    <subscriber_collection>Fgc_Cnewsletter_Model_Newsletter_Resource_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_resource>
        </models>
    </global>
    <admin>
        <routers>
            <cnewsletter>
                <use>admin</use>
                <args>
                    <module>Fgc_Cnewsletter</module>
                    <frontName>admin_cnewsletter</frontName>
                </args>
            </cnewsletter>
        </routers>
    </admin>
</config> 